
{% extends 'base.html' %}


{% block content %}


    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span>Verify Payment</span>
        </div>
        <span>Home &RightArrow;</span>
    </a>

    <div class="w-64">
        <a class="block w-full px-4 py-1 mt-4 text-sm font-medium leading-5 text-center text-gray-600 transition-colors duration-150 bg-slate-200 border border-transparent rounded-lg active:bg-slate-300 hover:bg-slate-300 focus:outline-none focus:shadow-outline-slate"
            href="{% url 'customer:VerifiedPayment' %}">
            View Verifired Payment
        </a>
    </div>
    

    <div class="w-full my-5 overflow-hidden rounded-lg shadow-xs">
        <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4">

            <label for="">
                <span class="text-gray-700">Account</span>
                <select class="block w-full px-2 text-sm border-2 rounded-md focus:border-slate-300 form-select focus:outline-none focus:shadow-outline-green text-slate-600" name='account' id="account" required >
                    <option selected disabled=true></option>
                    {% for account in accounts %}
                       {% if account.series_name|title == 'Expenses' %}
                          <option value="{{account.account_id}}">{{account.account_id}}</option>   
                       {% endif %}
                    {% endfor %}    
                </select>
            </label>
 
            
            {% comment %} <button class="block w-full h-8 px-4 py-1 mt-4 text-sm font-medium leading-5 text-center text-gray-600 transition-colors duration-150 bg-slate-200 border border-transparent rounded-lg active:bg-slate-300 hover:bg-slate-300 focus:outline-none focus:shadow-outline-slate" id="search2">
                Search
            </button> {% endcomment %}

        </div>
        
        <div class="w-full overflow-x-auto table-responsive mt-6">
            
          <table id="payroll" class="display" style="width:100%">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500  bg-gray-50">
                        <th class="px-4 py-3">SN</th>
                        <th class="px-4 py-3">Customer</th>
                        <th class="px-4 py-3">Amount</th>
                        <th class="px-4 py-3">Proof</th>
                        <th class="px-4 py-3">State</th>
                        <th class="px-4 py-3">Approve</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y">

                    
                    {% for display in payments %}
                    
                    <tr class="text-gray-700">

                        <td class="text-[10px]">
                            {{forloop.counter}}
                        </td>
                        <td class="text-[10px]">
                            {{display.client_ref}}
                        </td>
                        <td class="text-[10px]">
                            {{display.amount}}
                        </td>
                        <td class="text-[10px]">
                            {% if display.image %}
                            <img src="{{display.file.url }}" alt="{{display.item_name }} Image" class="h-8 w-8 rounded-md">
                            {% else %}
                            <p>No image available</p>
                            {% endif %}
                        </td>
                        <td class="text-[10px]">
                           {{display.state}}
                        </td> 
                        <td class="text-[10px]">
                            {% if display.state == "Pending" %}
                                <a onclick="VerifyPayment('{{display.id}}', '{{display.client_ref}}', '{{display.amount}}', '{{display.description}}')" class="flex items-center justify-center text-blue-500 border bg-gray-50 cursor-pointer px-3"  aria-label="Edit">Verify</a>
                            {% else %}
                                <a class="flex items-center justify-center text-green-500 border bg-gray-100 cursor-disabled px-3"  aria-label="Edit">{{display.state}}</a>
                            {% endif %}
                        </td>
                       

                    </tr>

                    {% endfor %}

                </tbody>
            </table>
            <div class="text-center  text-gray-500 py-2 font-semibold" id="no-data" style="display: none;">No data found</div>
        </div>
    </div>
    {% comment %} <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

        <div class="flex justify-end">
           <label class="block text-sm">
                <span class="text-gray-700">Total Amount</span>
                <input 
                    class="block w-40 px-2 mt-1 text-sm bg-slate-100 border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                    placeholder="" disabled
                    value="{{total}}"
                    id="total"
                />
            </label>
        </div>

    </div> {% endcomment %}

<script>
    $(document).ready(
        //FetchPayroll()
    )

   

    function FetchPayroll(){
        $.ajax({
            url: "{% url 'employee:FetchUnapprovePayroll' %}",
            method: "GET",
            success: function(data){
                const  table = $('#payroll tbody');
                table.empty();
                let num = 0
                if(data && data.length > 0){
                    //console.log(data)
                    data.forEach(item => {
                        num++ 
                        
                            const row = $('<tr id="row">').append(
                                $('<td class="text-[10px]">').html(num),
                                $('<td class="text-[10px]">').text(item.month_year),
                                $('<td class="text-[10px]">').text(item.total),
                                $('<td class="text-[10px] w-3">').append('<a onclick="showPayroll(\'' + item.month_year + '\')" class="flex items-center justify-center text-blue-500 border bg-gray-50 cursor-pointer px-3"  aria-label="Edit">View</a>'),
                                $('<td class="text-[10px] w-3">').append('<a onclick="ApprovePayroll(\'' + item.month_year + '\',\'' + item.total + '\')" class="flex items-center justify-center text-blue-500 border bg-gray-50 cursor-pointer px-3"  aria-label="Edit">Approve</a>'),
                               
                            );
                            table.append(row);
                        //}
                    });
                }else{
                   // alertify.error('No date selected')
                }
            }
        })
    }

    function VerifyPayment(id, client_id, amount, description){
    
       const account = $('#account').val();

       if(account ){
          alertify.defaults.glossary.title = "Confirm";
          alertify.confirm("You are about to verify "+client_id+" payment", function(e) {
            if(e){
                $.ajax({
                    url:"{% url 'customer:Verify' %}",
                    method: "GET",
                    data: {
                        'payment_id': id,
                        'client_id':client_id,
                        'amount':amount,
                        'account_id':account,
                        'description':description
                    },
                    success: function(data){
                       
                        alertify.success(data.message);
                       // FetchPayroll()
                       location.reload(true)
                        
                    },
                    error: function(error){
                        alertify.error("Error Verifying Payment")
                    }
              })
            }else{
                //console.log("stop")
            }
          });
          
       }else{
        alertify.error("Select a valid account")
       }
      
    }


    
</script>
{% endblock content %}