{% extends 'base.html' %}



{% block content %}


    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
        href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span>Profit and Loss Statement</span>
        </div>
        <span>Home &RightArrow;</span>
    </a>

    <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

        <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4">

            <label class="block text-sm">
                <span class="text-gray-700">From</span>
                <input 
                    type="date"
                    class="block w-full px-2 mt-1 text-sm border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input shadow-lg"
                    placeholder=""
                />
            </label>

            <label class="block text-sm">
                <span class="text-gray-700">To</span>
                <input 
                    type="date"
                    class="block w-full px-2 mt-1 text-sm border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input shadow-lg"
                    placeholder=""
                />

            </label>
            
            <a class="block w-full h-8 px-4 py-1 mt-5 text-sm font-medium leading-5 text-center text-gray-600 transition-colors duration-150 bg-slate-200 border border-transparent rounded-lg active:bg-slate-300 hover:bg-slate-300 focus:outline-none focus:shadow-outline-slate"
                href="#">
                Search
            </a>

        </div>
    
        <div class="w-full my-5 overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr class="text-lg font-extrabold tracking-wide text-left text-black uppercase border-b bg-slate-200">
                            <th colspan="3" class="px-4 py-3">REVENUE</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y">
    
                        <tr class="text-black font-bold">
    
                            <td colspan="2" class="px-4 py-1">
                                Sales
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>
    
                        <tr class="text-black font-bold">
    
                            <td colspan="2" class="px-4 py-1">
                                Sales Returns
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>
    
                        <tr class="text-black font-bold">
    
                            <td colspan="2" class="px-4 py-1">
                                Discounts
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>
    
                        <tr class="text-black font-bold">
    
                            <td colspan="2" class="px-4 py-1">
                                Cost of goods sold
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>
    
                        <tr class="text-black font-bold bg-slate-200">
    
                            <td colspan="2" class="px-4 py-1">
                                Gross Profit
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>
                        
                        <tr class="text-black font-bold">
    
                            <td colspan="2" class="px-4 py-1">
                                Expenses
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>
    
                        <tr class="text-black font-bold bg-slate-200">
    
                            <td colspan="2" class="px-4 py-1">
                                Operating Income
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>
                        
                        <tr class="text-black font-bold">
    
                            <td colspan="2" class="px-4 py-1">
                                Other Income
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>

                        <tr class="text-black font-bold">
    
                            <td colspan="2" class="px-4 py-1">
                                Tax
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>

                        <tr class="text-black font-bold bg-slate-200">
    
                            <td colspan="2" class="px-4 py-1">
                                Net Profit
                            </td>
                            <td class="px-4 py-1 text-sm">
                                0
                            </td>

                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <a class="block h-8 px-4 py-1 mt-4 text-sm font-medium leading-5 text-center text-gray-600 transition-colors duration-150 bg-slate-200 border border-transparent rounded-lg active:bg-slate-300 hover:bg-slate-300 focus:outline-none focus:shadow-outline-slate"
            href="#">
            Print
        </a>

    </div>

{% endblock content %}
    