
{% extends 'base.html' %}


{% block content %}
{% include "employee/ViewPayrollDetails.html" %}
{% include "employee/ViewPayrollDetail.html" %}


    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span>Payroll</span>
        </div>
        <span>Home &RightArrow;</span>
    </a>

    <div class="w-64">
        <a class="block w-full px-4 py-1 mt-4 text-sm font-medium leading-5 text-center text-gray-600 transition-colors duration-150 bg-slate-200 border border-transparent rounded-lg active:bg-slate-300 hover:bg-slate-300 focus:outline-none focus:shadow-outline-slate"
            href="{% url 'employee:NewPayroll' %}">
            Approve Payroll
        </a>
    </div>
    

    <div class="w-full my-5 overflow-hidden rounded-lg shadow-xs">
        <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4">

            <label for="">
                <span class="text-gray-700">Account</span>
                <select class="block w-full px-2 text-sm border-2 rounded-md focus:border-slate-300 form-select focus:outline-none focus:shadow-outline-green text-slate-600" name='account' id="account" required >
                    <option selected disabled=true></option>
                    {% for account in accounts %}
                       {% if account.series_name|title == 'Assets' %}
                          <option value="{{account.account_id}}">{{account.account_id}}</option>   
                       {% endif %}
                    {% endfor %}    
                </select>
            </label>

            <label for="">
                <span class="text-gray-700">Credit account</span>
                <select class="block w-full px-2 text-sm border-2 rounded-md focus:border-slate-300 form-select focus:outline-none focus:shadow-outline-green text-slate-600" name="c-account" id="c-account" required >
                    <option selected disabled=true></option>
                    {% for account in accounts %}
                       {% if account.account_bankname|title == 'Salaries' %}
                       <option value="{{account.account_id}}">{{account.account_bankname}}</option>   
                           
                       {% endif %}
                    {% endfor %}
                </select>
            </label> 
            
            {% comment %} <button class="block w-full h-8 px-4 py-1 mt-4 text-sm font-medium leading-5 text-center text-gray-600 transition-colors duration-150 bg-slate-200 border border-transparent rounded-lg active:bg-slate-300 hover:bg-slate-300 focus:outline-none focus:shadow-outline-slate" id="search2">
                Search
            </button> {% endcomment %}

        </div>
        
        <div class="w-full overflow-x-auto table-responsive mt-6">
            
          <table id="payroll" class="display" style="width:100%">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500  bg-gray-50">
                        <th class="px-4 py-3">SN</th>
                        <th class="px-4 py-3">Payroll Date</th>
                        <th class="px-4 py-3">Total Salary</th>
                        <th class="px-4 py-3">View</th>
                        <th class="px-4 py-3">Approve</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y">

                    
                    {% for display in payrolls %}
                    
                    <tr class="text-gray-700">

                        <td class="text-[10px]">
                            {{forloop.counter}}
                        </td>
                        <td class="text-[10px]">
                            {{display.month_year}}
                        </td>
                        <td class="text-[10px]">
                            {{display.total}}
                        </td>
                        <td class="text-[10px]">
                            <a onclick="showPayroll('{{display.month_year}}')" class="flex items-center justify-center text-blue-500 border bg-gray-50 cursor-pointer px-3"  aria-label="Edit">View</a>
                        </td>
                        <td class="text-[10px]">
                            <a onclick="ApprovePayroll('{{display.month_year}}', '{{display.total}}')" class="flex items-center justify-center text-blue-500 border bg-gray-50 cursor-pointer px-3"  aria-label="Edit">Approve</a>
                        </td>
                       

                    </tr>

                    {% endfor %}

                </tbody>
            </table>
            <div class="text-center  text-gray-500 py-2 font-semibold" id="no-data" style="display: none;">No data found</div>
        </div>
    </div>
    {% comment %} <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

        <div class="flex justify-end">
           <label class="block text-sm">
                <span class="text-gray-700">Total Amount</span>
                <input 
                    class="block w-40 px-2 mt-1 text-sm bg-slate-100 border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                    placeholder="" disabled
                    value="{{total}}"
                    id="total"
                />
            </label>
        </div>

    </div> {% endcomment %}

<script>
    $(document).ready(
        FetchPayroll()
    )

    function showPayroll(data){
        $.ajax({
            url:'{%url "employee:payrolls" %}',
            method: 'GET',
            data: {'data':data},
            success: function(response){
                const  table = $('#payroll-deatil tbody');
                table.empty();
                let num = 0
                let executed = false
                if(response.data.length > 0){
                    my_modal_payroll.showModal()
                    $("#total").val(response.total);
                    //console.log(response.data)
                    response.data.forEach(item => {
                        num++ 
                        if (executed == false){
                            $("#details").text("Payroll Details for: "+ item.month_year);
                            executed = true
                        }
                        
                            const row = $('<tr id="row">').append(
                                $('<td class="text-[10px]">').html(num),
                                $('<td class="text-[10px]">').text(item.employee_name),
                                $('<td class="text-[10px]">').text(item.staffID),
                                $('<td class="text-[10px]">').text(item.bsaic_salary),
                                $('<td class="text-[10px]">').text(item.overtime),
                                $('<td class="text-[10px]">').text(item.allowance),
                                $('<td class="text-[10px]">').text(item.others),
                                $('<td class="text-[10px]">').text(item.gross_pay),
                                $('<td class="text-[10px]">').text(item.tax),
                                $('<td class="text-[10px]">').text(item.loan_repay),
                                $('<td class="text-[10px]">').text(item.union_pay),
                                $('<td class="text-[10px]">').text(item.sanction),
                                $('<td class="text-[10px]">').text(item.NHF),
                                $('<td class="text-[10px]">').text(item.NSIFT),
                                $('<td class="text-[10px]">').text(item.other_deduction),
                                $('<td class="text-[10px]">').text(item.total_due),
                                $('<td class="text-[10px]">').text(item.net_pay),
                                $('<td class="text-[10px] w-3">').append('<a onclick="showEditModal(\'' + item.id + '\',\'' + item.staffID + '\')" class="flex items-center justify-center text-blue-500 border bg-gray-50 cursor-pointer px-3"  aria-label="Edit">Edit</a>'),
                               
                            );
                            table.append(row);
                        //}
                    });
                }else{
                    alertify.error('No date selected')
                }
            },
            error: function(error){

            }
        })
        
    }

    function showEditModal(id, staffID){
        //alert(id)
        //alert(staffID)
        $.ajax({
            url:'{%url "employee:payroll" %}',
            method: 'GET',
            data: {'id':id, 'staffID':staffID},
            success: function(data){
                if(data){
                    my_modal_payroll_detail.showModal();
                    // console.log(data.basic_salary);
                    data.forEach(item =>{
                        $('#id').val(item.id),
                        $('#staff-id').val(item.staffID),
                        $('#name2').val(item.employee_name),
                        $('#month').val(item.month_year),

                        $('#name').text(item.employee_name),
                        $('#salary').val(item.bsaic_salary),
                        $('#staffID').val(item.staffID),

                        $('#overtime').val(item.overtime),
                        $('#allowance').val(item.allowance),
                        $('#others').val(item.others),

                        $('#gross-pay').val(item.gross_pay),

                        $('#tax').val(item.tax),
                        $('#loan-repay').val(item.loan_repay), 
                        $('#union-pay').val(item.union_pay),
                        $('#sanction').val(item.sanction),
                        $('#NHF').val(item.NHF),
                        $('#NSIFT').val(item.NSIFT),
                        $('#other-deduction').val(item.other_deduction),


                        $('#total-dues').val(item.total_due),
                        $('#net-pay').val(item.net_pay),

                        //Earning Initial values
                        $('#add1').val(item.overtime),
                        $('#add2').val(item.allowance),
                        $('#add3').val(item.others),

                        //Deducting Initial values
                        $('#sub1').val(item.tax),
                        $('#sub2').val(item.loan_repay), 
                        $('#sub3').val(item.union_pay),
                        $('#sub4').val(item.sanction),
                        $('#sub5').val(item.NHF),
                        $('#sub6').val(item.NSIFT),
                        $('#sub7').val(item.other_deduction)
                                
                    })          
                }else{
                    alertify.error('No date selected')
                }
            },
            error: function(error){

            }
        })
        
        
    }

    function FetchPayroll(){
        $.ajax({
            url: "{% url 'employee:FetchUnapprovePayroll' %}",
            method: "GET",
            success: function(data){
                const  table = $('#payroll tbody');
                table.empty();
                let num = 0
                if(data && data.length > 0){
                    //console.log(data)
                    data.forEach(item => {
                        num++ 
                        
                            const row = $('<tr id="row">').append(
                                $('<td class="text-[10px]">').html(num),
                                $('<td class="text-[10px]">').text(item.month_year),
                                $('<td class="text-[10px]">').text(item.total),
                                $('<td class="text-[10px] w-3">').append('<a onclick="showPayroll(\'' + item.month_year + '\')" class="flex items-center justify-center text-blue-500 border bg-gray-50 cursor-pointer px-3"  aria-label="Edit">View</a>'),
                                $('<td class="text-[10px] w-3">').append('<a onclick="ApprovePayroll(\'' + item.month_year + '\',\'' + item.total + '\')" class="flex items-center justify-center text-blue-500 border bg-gray-50 cursor-pointer px-3"  aria-label="Edit">Approve</a>'),
                               
                            );
                            table.append(row);
                        //}
                    });
                }else{
                   // alertify.error('No date selected')
                }
            }
        })
    }

    function ApprovePayroll(month_year, total_salary){
        
       const account = $('#account').val();
       const c_account = $('#c-account').val();
       if(account && c_account){
          alertify.defaults.glossary.title = "Confirm";
          alertify.confirm("You are about to approve "+month_year+" salary", function(e) {
            if(e){
                $.ajax({
                    url:"{% url 'employee:Approvepayroll' %}",
                    method: "GET",
                    data: {
                        'month_year':month_year,
                        'total_salary':total_salary,
                        'account':account,
                        'c-account':c_account
                    },
                    success: function(data){
                        if(data.type == "success"){
                            alertify.success(data.message);
                            FetchPayroll()
                        }else{
                            alertify.error(data.message);
                        }
                    },
                    error: function(error){
    
                    }
              })
            }else{
                //console.log("stop")
            }
          });
          
       }else{
        alertify.error("Select a valid accounts")
       }
      
    }


     //serach by month and year
     $("#search2").on('click', function(e){
        e.preventDefault()
        const month = $('#month').val();
        const year = $('#year').val();
        //console.log(from)
        //console.log(to)
        if(month && year){
            $.ajax({
                url: '{% url "employee:payroll-date" %}',
                method: 'GET',
                data: {
                    'month': month,
                    'year': year,
                },
                success: function(response) {
                    if(response.serializer_data && response.serializer_data.length > 0){
                        //console.log(response.serializer_data)
                        $('#total').val(response.amount_total)
                        const table = $('#payroll tbody')
                        table.empty()
                        let num = 0;
                        response.serializer_data.forEach(item => {
                            num++ 
                                const row = $('<tr id="row">').append(
                                    $('<td class="text-[10px]">').html(num),
                                    $('<td class="text-[10px]">').text(item.dateG),
                                    $('<td class="text-[10px]">').text(item.employee_name),
                                    $('<td class="text-[10px]">').text(item.gross_pay),
                                    $('<td class="text-[10px]">').text(item.total_due),
                                    $('<td class="text-[10px]">').text(item.net_pay),
                                     
                                );
                                table.append(row);
                            //}
                        });
                        $("#no-data").css('display', 'none')
                    }else{
                        $("#payroll tbody").empty();
                        $('#total').val(0)
                        $("#no-data").css('display', 'block');
                        alertify.error("No payroll between selected month and year");
                        //alertify.error("Select start_date and end_date")
                    }
                },
                error: function(error) {
                    // Handle the error
                    console.log('error')
                }
            });
        }else{
            alertify.error("Select a valid month and year")
        }

        
    })
</script>
{% endblock content %}