
{% extends 'base.html' %}


{% block content %}


    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span>New Payroll</span>
        </div>
        <span>Home &RightArrow;</span>
    </a>

    {% comment %} <div class="my-5 grid grid-cols-3 gap-6">
        <div class="relative py-2 flex items-center justify-center bg-slate-200">
            <span class="text-sm text-slate-600 uppercase">earnings</span>
        </div>
        <div class="relative py-2 flex items-center justify-center bg-slate-200">
            <span class="text-sm text-slate-600 uppercase">deductions</span>
        </div>
        <div class="relative py-2 flex items-center justify-center bg-slate-200">
            <span class="text-sm text-slate-600 uppercase">summarys</span>
        </div>
    </div> {% endcomment %}

    <form  method="post">
        {% csrf_token %}
        
            <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4 mt-6">

                <label for="">
                    <span class="text-gray-700">MONTH</span>
                    <select class="block w-full px-2 text-sm border-2 rounded-md focus:border-slate-300 form-select focus:outline-none focus:shadow-outline-green text-slate-600" name='month' id="id_customer" required >
                        <option selected disabled=true>Month</option>
                        <option>January</option>   
                        <option>February</option>   
                        <option>March</option>   
                        <option>April</option>   
                        <option>May</option>   
                        <option>June</option>   
                        <option>July</option>   
                        <option>August</option>   
                        <option>September</option>   
                        <option>October</option>   
                        <option>November</option>   
                        <option>December</option>     
                    </select>
                </label>

                <label for="">
                    <span class="text-gray-700">YEAR</span>
                    <select class="block w-full px-2 text-sm border-2 rounded-md focus:border-slate-300 form-select focus:outline-none focus:shadow-outline-green text-slate-600" name="year" required onchange="filterItem(this)">
                        <option selected disabled=true>Year</option>
                        {% for year in years %}
                           <option>{{year}}</option>   
                        {% endfor %}
                    </select>
                </label> 
            </div>
        <div class="w-full my-5 overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto table-responsive">
            <table id="exampl" class="display" style="width:100%">
                    <thead>
                        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500  bg-gray-50">
                            <th colspan="8" class="px-1 py-3">
                                <div class="relative py-2 flex items-center justify-center bg-slate-200">
                                    <span class="text-sm text-slate-600 uppercase">earnings</span>
                                </div>
                            </th>
                            <th colspan="8" class="px-1 py-3">
                                <div class="relative py-2 flex items-center justify-center bg-slate-200">
                                    <span class="text-sm text-slate-600 uppercase">deductions</span>
                                </div>
                            </th>
                            <th class="px-1 py-3">
                                <div class="relative py-2 px-3 flex items-center justify-center bg-slate-200">
                                    <span class="text-sm text-slate-600 uppercase">summarys</span>
                                </div>
                            </th>
                        </tr>
                        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500  bg-gray-50 px-4 border-b">
                            <th class="border border-slate-300 px-1 py-1">SN</th>
                            <th class="border border-slate-300 px-1 py-1">Employee Name</th>
                            <th class="border border-slate-300 px-1 py-1">Staff ID</th>
                            <th class="border border-slate-300 px-1 py-1">Basic Salary</th>
                            <th class="border border-slate-300 px-1 py-1">Overtime</th>
                            <th class="border border-slate-300 px-1 py-1">Allowance</th>
                            <th class="border border-slate-300 px-1 py-1">Others</th>
                            <th class="border border-slate-300 px-1 py-1">Gross Pay</th>
                            <th class="border border-slate-300 px-1 py-1">Tax</th>
                            <th class="border border-slate-300 px-1 py-1">Loan Repayment</th>
                            <th class="border border-slate-300 px-1 py-1">Union Dues</th>
                            <th class="border border-slate-300 px-1 py-1">Sanctions</th>
                            <th class="border border-slate-300 px-1 py-1">NHF</th>
                            <th class="border border-slate-300 px-1 py-1">NSITF</th>
                            <th class="border border-slate-300 px-1 py-1">Other Deductions</th>
                            <th class="border border-slate-300 px-1 py-1">Total Dues</th>
                            <th class="border border-slate-300 px-1 py-1">Net Pay</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y">

                        
                        {% for employee in employee %}
                        
                        <tr class="text-gray-700 py-0 mx-0">

                            <td class="border border-slate-300 py-0 my-0 px-2 h-4 text-[10px]  ...">
                                {{forloop.counter}}
                            </td>
                            <td class="border border-slate-300 py-0 my-[0] text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="text"
                                    name="name[]"
                                    id="name"
                                    value="{{employee.fullname}}"
                                    readonly
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="text"
                                    name="staff_ID[]"
                                    id="staff_ID"
                                    value="{{employee.staff_ID}}"
                                    readonly
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="salary[]"
                                    id="salary"
                                    value="{{employee.basic_salary}}"
                                    readonly
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                            </td>
                            <td class="border border-slate-300 py-0 my-[0] text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="overtime[]"
                                    id="overtime"
                                    value="0"
                                    oninput="Earnings(this, 'add1{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                    
                                />
                                <input type="number" name="add" id="add1{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="allowance[]"
                                    id="allowance"
                                    value="0"
                                    oninput="Earnings(this, 'add2{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="add2{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="others[]"
                                    id="others"
                                    value="0"
                                    oninput="Earnings(this, 'add3{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="add3{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-[0] text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="gross-pay[]"
                                    id="gross-pay"
                                    readonly
                                    value="{{employee.basic_salary}}"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="tax[]"
                                    id="tax"
                                    value="0"
                                    oninput="Deductions(this, 'sub1{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="sub1{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-[0] text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="loan-repay[]"
                                    id="loan"
                                    value="0"
                                    oninput="Deductions(this, 'sub2{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="sub2{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="union-pay[]"
                                    id="union-dues"
                                    value="0"
                                    oninput="Deductions(this, 'sub3{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="sub3{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="sanction[]"
                                    id="sanctions"
                                    value="0"
                                    oninput="Deductions(this, 'sub4{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="sub4{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-[0] text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="NHF[]"
                                    id="NHF"
                                    value="0"
                                    oninput="Deductions(this, 'sub5{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="sub5{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="NSIFT[]"
                                    id="NSITF"
                                    value="0"
                                    oninput="Deductions(this, 'sub6{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="sub6{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="other-deductions[]"
                                    id="other-deductions"
                                    value="0"
                                    oninput="Deductions(this, 'sub7{{forloop.counter}}')"
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                                <input type="number" name="add" id="sub7{{forloop.counter}}" value="0" class="border px-1 mt-1 w-full">
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="total-dues[]"
                                    id="total-dues"
                                    value="0"
                                    readonly
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                            </td>
                            <td class="border border-slate-300 py-0 my-0 text-[11px] font-medium tracking-wide ...">
                                <input 
                                    type="number"
                                    name="net-pay[]"
                                    id="net-pay"
                                    value="{{employee.basic_salary}}"
                                    
                                    class="block w-full px-2 h-4 text-[10px] focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                                />
                            </td>

                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    

        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-2">

                <button class="block w-full px-4 py-1 mt-4 text-sm font-medium leading-5 text-center text-gray-600 transition-colors duration-150 bg-slate-200 border border-transparent rounded-lg active:bg-slate-300 hover:bg-slate-300 focus:outline-none focus:shadow-outline-slate"
                    type="submit">
                    Save
                </button>


                <label class="block text-sm">
                    <span class="text-gray-700">Total Amount</span>
                    <input 
                        class="block w-full px-2 mt-1 text-sm bg-slate-100 border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                        placeholder="" disabled
                        value="0"
                        id="total"
                    />
                </label>
            

                
            </div>
            {% comment %} <div class="flex gap-4 justify-between">
                <div class="addition">
                
                <input type="number" name="" id="add2" value="0" class="border px-1 mt-1 w-full">
                <input type="number" name="" id="add3" value="0" class="border px-1 mt-1 w-full">
                </div>
                <div class="deduction">
                <input type="number" name="" id="sub1" value="0" class="border px-1 mt-1 w-full">
                <input type="number" name="" id="sub2" value="0" class="border px-1 mt-1 w-full">
                <input type="number" name="" id="sub3" value="0" class="border px-1 mt-1 w-full">
                <input type="number" name="" id="sub4" value="0" class="border px-1 mt-1 w-full">
                <input type="number" name="" id="sub5" value="0" class="border px-1 mt-1 w-full">
                <input type="number" name="" id="sub6" value="0" class="border px-1 mt-1 w-full">
                <input type="number" name="" id="sub7" value="0" class="border px-1 mt-1 w-full">
                </div>
            </div> {% endcomment %}

        </div>
    </form>
    <script>
        
        $(document).ready(function(event){
            calculateTotal();
        });

        function calculateTotal(){
            const net_pay= document.getElementsByName("net-pay[]");
    
            // Initialize a variable to store the sum
            let sum = 0;
    
            //alert(sum)
            // Loop through the input elements and add their values to the sum
            for (let i = 0; i < net_pay.length; i++) {
                const inputValue = parseFloat(net_pay[i].value);
                if (!isNaN(inputValue)) {
                    sum += inputValue;
                }
            }
            // Display the sum in a result div
            const Total_c = document.getElementById("total");
            Total_c.value = "#"+sum
        };
       
         function Earnings(element, initial){
            var value = $(element).val();

            var gross_pay = $(element).closest('tr').find('input[name="gross-pay[]"]');
            var total_dues = $(element).closest('tr').find('input[name="total-dues[]"]');
            var net_pay = $(element).closest('tr').find('input[name="net-pay[]"]');
            var salary = $(element).closest('tr').find('input[name="salary[]"]').val();
            ///console.log(net_value)
            //console.log(value)
            const gp = parseInt(gross_pay.val())
            const td = parseInt(total_dues.val())
            const Value = parseInt(value)
            const Salary = parseInt(salary)
           // if(value > 0){
                const Initial = parseInt($(`#${initial}`).val());
                if(value > 0){
                    //setTimeout(function() {
                               // msg.hide();
                        
                        if(!isNaN(gp)){
                            
                           gross_pay.val((gp - Initial) + Value)
                           $(`#${initial}`).val(Value)
                           if(!isNaN(td)){
                                const total = gross_pay.val() - td
                                net_pay.val(total);
                                calculateTotal();
                            }else{
                                net_pay.val(gross_pay.val()) ;
                                calculateTotal();
                            }
                           
                        }else{
                            gross_pay.val(Salary + Value)
                        }
                    //}, 2000)
                }else{
                    //setTimeout(function() {
                        // msg.hide();
                 
                        if(!isNaN(gp)){
                            
                            gross_pay.val((gp - Initial) + 0)
                            $(`#${initial}`).val(0)
                            if(!isNaN(td)){
                                const total = gross_pay.val() - td
                                net_pay.val(total);
                                calculateTotal();
                            }else{
                                net_pay.val(gross_pay.val()) ;
                                calculateTotal();
                            }
                            
                        }else{
                            gross_pay.val(Salary + Value)
                        }
                    //}, 2000)
                }

            //}else{
            //}
        };
        function Deductions(element, initial){
            var value = $(element).val();
           
            var gross_pay = $(element).closest('tr').find('input[name="gross-pay[]"]');
            var total_dues = $(element).closest('tr').find('input[name="total-dues[]"]');
            var net_pay = $(element).closest('tr').find('input[name="net-pay[]"]');
            var salary = $(element).closest('tr').find('input[name="salary[]"]').val();
            ///console.log(net_value)
            //console.log(value)
            //if(value > 0){
                const gp = parseInt(gross_pay.val())
                const td = parseInt(total_dues.val())
                const Value = parseInt(value)
                const Salary = parseInt(salary)
                const Initial = parseInt($(`#${initial}`).val());
                if(value > 0){
                    //setTimeout(function() {
                        if(!isNaN(td)){
                            
                           total_dues.val((td - Initial) + Value);
                           $(`#${initial}`).val(Value);
                           

                           if(!isNaN(gp)){
                                const total = gp - total_dues.val()
                                net_pay.val(total);
                                calculateTotal();
                            }else{
                                net_pay.val(gp - td) ;
                                calculateTotal();
                            }
                           
                        }else{
                            gross_pay.val(Salary + Value)
                        }
                    //}, 2000)
                }else{
                    //setTimeout(function() {
                        if(!isNaN(td)){
                            
                           total_dues.val((td - Initial) + 0);
                           $(`#${initial}`).val(0);
                           

                           if(!isNaN(gp)){
                                const total = gp - total_dues.val()
                                net_pay.val(total);
                                calculateTotal();
                            }else{
                                net_pay.val(gp - td) ;
                                calculateTotal();
                            }
                           
                        }else{
                            gross_pay.val(Salary + Value)
                        }
                    //}, 2000)
                    
                }

           // }
        };

    </script>
    <script>
        // Get all input elements with name "add"
         var initialInputs = document.querySelectorAll('input[name="add"]');

         // Set the type of each input t hidden
         initialInputs.forEach(function(input) {
            input.type = 'hidden';
         });

    </script>




{% endblock content %}