{% extends 'base.html' %} {% load static %}


{% block content %}

<a
    class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
    href="#">
    <div class="flex items-center">
        <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
        <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
        ></path>
        </svg>
        <span>{{ detail.item_name }} - Details</span>
    </div>
    <span>Home &RightArrow;</span>
</a>

{% if messages %} {% include 'messages.html' %} {% endif %}

<div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">
  

    <section class="py-20 font-poppins z-10">
        <div class="max-w-6xl px-4 mx-auto">
            <div class="flex flex-wrap mb-24 -mx-4">
                <div class="w-full px-4 mb-8 md:w-1/2 md:mb-0">
                    <div class="sticky top-0 z-50 overflow-hidden">
                        <div class="relative mb-6 lg:mb-10">
                        <a
                            class="absolute left-0 transform lg:ml-2 top-1/2 translate-1/2 z-10"
                            href="#"
                        >
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="w-5 h-5 text-blue-500 bi bi-chevron-left dark:text-blue-200"
                            viewBox="0 0 16 16"
                            >
                            <path
                                fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                            ></path>
                            </svg>
                        </a>
                        {% if detail.image %}
                            <img
                                src="{{detail.image.url }}"
                                alt="{{detail.item_name }} Image"
                                class="object-cover w-full lg:h-1/2 rounded-md"
                            />
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        <a
                            class="absolute right-0 transform lg:mr-2 top-1/2 translate-1/2"
                            href="#"
                        >
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="w-5 h-5 text-blue-500 bi bi-chevron-right dark:text-blue-200"
                            viewBox="0 0 16 16"
                            >
                            <path
                                fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                            ></path>
                            </svg>
                        </a>
                        </div>
                        <div class="flex-wrap hidden -mx-2 md:flex">
                        {% for display in details %}
                        <div class="w-1/2 p-2 sm:w-1/4">
                            <a
                            class="block border border-transparent hover:border-blue-400"
                            href="#"
                            >
                            <img
                                class="object-cover w-full lg:h-32"
                                src="{{display.image.url }}"
                                alt="{{detail.item_name }}"
                            />
                            </a>
                        </div>
                        {% endfor %}
                        </div>
                        <div
                        class="px-6 pb-6 mt-6 border-t border-gray-300 dark:border-gray-400"
                        >
                        <div class="flex items-center justify-center mt-6">
                            <span class="mr-3">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="w-5 h-5 text-blue-700 dark:text-gray-400 bi bi-chat-left-dots-fill"
                                viewBox="0 0 16 16"
                            >
                                <path
                                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                                ></path>
                            </svg>
                            </span>
                            <div>
                            <h2
                                class="text-sm font-bold text-gray-700 lg:text-lg dark:text-gray-400"
                            >
                                Have question about buying an Oneplus
                            </h2>
                            <a
                                class="text-xs text-blue-400 lg:text-sm dark:text-blue-200"
                                href="#"
                            >
                                Chat with an Oneplus specialist
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2"> 
                <div class="lg:pl-20">
                    <div class="mb-6">
                    <span class="text-red-500 dark:text-red-200">New</span>
                    <h2
                        class="max-w-xl mt-2 mb-4 text-5xl font-bold md:text-6xl font-heading dark:text-gray-300"
                    >
                        {{ detail.item_name }}
                    </h2>
                    <p class="max-w-md mb-4 text-gray-500 dark:text-gray-400">
                        #{{ detail.selling_price }}
                    </p>
                    <a
                        href="#"
                        class="text-blue-500 hover:underline dark:text-gray-400"
                    >
                        See how trade-in works</a
                    >
                    </div>
                    <div class="">
                    <p class="mb-4 text-lg font-semibold dark:text-gray-400">
                        Choose your finish
                    </p>
                    <div
                        class="grid grid-cols-2 gap-4 pb-4 border-b-2 border-gray-300 lg:grid-cols-3 dark:border-gray-600"
                    >
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-500 hover:border-blue-400"
                        >
                            <div>
                            <div
                                class="w-8 h-8 mx-auto mb-2 rounded-full bg-emerald-400"
                            ></div>
                            <p
                                class="text-xs text-center text-gray-700 dark:text-gray-400"
                            >
                                Pearl Green
                            </p>
                            </div>
                        </button>
                        </div>
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-500 hover:border-blue-400"
                        >
                            <div>
                            <div
                                class="w-8 h-8 mx-auto mb-2 bg-gray-700 rounded-full dark:bg-gray-600"
                            ></div>
                            <p
                                class="text-xs text-center text-gray-700 dark:text-gray-400"
                            >
                                Mattee Black
                            </p>
                            </div>
                        </button>
                        </div>
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-500 hover:border-blue-400"
                        >
                            <div>
                            <div
                                class="w-8 h-8 mx-auto mb-2 bg-red-500 rounded-full"
                            ></div>
                            <p
                                class="text-xs text-center text-gray-700 dark:text-gray-400"
                            >
                                Red
                            </p>
                            </div>
                        </button>
                        </div>
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-500 hover:border-blue-400"
                        >
                            <div>
                            <div
                                class="w-8 h-8 mx-auto mb-2 rounded-full bg-stone-200"
                            ></div>
                            <p
                                class="text-xs text-center text-gray-700 dark:text-gray-400"
                            >
                                Silver
                            </p>
                            </div>
                        </button>
                        </div>
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-500 hover:border-blue-400"
                        >
                            <div>
                            <div
                                class="w-8 h-8 mx-auto mb-2 bg-blue-200 rounded-full"
                            ></div>
                            <p
                                class="text-xs text-center text-gray-700 dark:text-gray-400"
                            >
                                Sierra Blue
                            </p>
                            </div>
                        </button>
                        </div>
                    </div>
                    </div>
                    <div class="mt-6">
                    <p class="mb-2 text-lg font-semibold dark:text-gray-400">
                        Choose your Capacity
                    </p>
                    <a
                        href="#"
                        class="text-blue-500 hover:underline dark:text-gray-400"
                    >
                        How much capacity is right for you?</a
                    >
                    <div
                        class="grid grid-cols-2 gap-4 pb-4 mt-2 mb-4 border-b-2 border-gray-300 lg:grid-cols-3 dark:border-gray-600"
                    >
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-600 hover:border-blue-400"
                        >
                            <div>
                            <div class="mb-2 font-semibold dark:text-gray-400">
                                128 <span class="text-xs">GB</span>
                            </div>
                            <p
                                class="px-2 text-xs font-medium text-center text-gray-700 dark:text-gray-400"
                            >
                                From $99 0r $41.62/mo. for 24 mo.
                            </p>
                            </div>
                        </button>
                        </div>
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-600 hover:border-blue-400"
                        >
                            <div>
                            <div class="mb-2 font-semibold dark:text-gray-400">
                                256 <span class="text-xs">GB</span>
                            </div>
                            <p
                                class="px-2 text-xs font-medium text-center text-gray-700 dark:text-gray-400"
                            >
                                From $99 0r $41.62/mo. for 24 mo.
                            </p>
                            </div>
                        </button>
                        </div>
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-600 hover:border-blue-400"
                        >
                            <div>
                            <div class="mb-2 font-semibold dark:text-gray-400">
                                512 <span class="text-xs">GB</span>
                            </div>
                            <p
                                class="px-2 text-xs font-medium text-center text-gray-700 dark:text-gray-400"
                            >
                                From $99 0r $41.62/mo. for 24 mo.
                            </p>
                            </div>
                        </button>
                        </div>
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full py-4 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-600 hover:border-blue-400"
                        >
                            <div>
                            <div class="mb-2 font-semibold dark:text-gray-400">
                                1 <span class="text-xs">GB</span>
                            </div>
                            <p
                                class="px-2 text-xs font-medium text-center text-gray-700 dark:text-gray-400"
                            >
                                From $99 0r $41.62/mo. for 24 mo.
                            </p>
                            </div>
                        </button>
                        </div>
                    </div>
                    </div>
                    <div class="mt-6">
                    <p class="mb-4 text-lg font-semibold dark:text-gray-400">
                        Choose a payment option
                    </p>
                    <div
                        class="grid grid-cols-2 gap-4 pb-4 mt-2 mb-4 border-b-2 border-gray-300 lg:grid-cols-3 dark:border-gray-600"
                    >
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full px-2 py-6 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-600 hover:border-blue-400"
                        >
                            <div>
                            <p
                                class="px-2 text-base font-semibold text-center text-gray-700 dark:text-gray-400"
                            >
                                Pay in full
                            </p>
                            </div>
                        </button>
                        </div>
                        <div>
                        <button
                            class="flex items-center justify-center w-full h-full px-2 py-6 border-2 border-gray-300 dark:hover:border-blue-400 dark:border-gray-600 hover:border-blue-400"
                        >
                            <div>
                            <p
                                class="px-2 text-base font-semibold text-center text-gray-700 dark:text-gray-400"
                            >
                                Pay monthly
                            </p>
                            </div>
                        </button>
                        </div>
                    </div>
                    </div>
                    <div class="mt-6">
                    <div class="flex flex-wrap items-center">
                        <span class="mr-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="w-4 h-4 text-gray-700 dark:text-gray-400 bi bi-truck"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                            ></path>
                        </svg>
                        </span>
                        <h2 class="text-lg font-bold text-gray-700 dark:text-gray-400">
                        Delivery
                        </h2>
                    </div>
                    <div class="px-7">
                        <p class="mb-2 text-sm dark:text-gray-400">In Stock</p>
                        <p class="mb-2 text-sm dark:text-gray-400">Free Shipping</p>
                        <a
                        class="mb-2 text-sm text-blue-400 dark:text-blue-200"
                        href="#"
                        >Get delivery dates</a
                        >
                    </div>
                    </div>
                    <div class="mt-6">
                    <div class="flex flex-wrap items-center">
                        <span class="mr-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="w-4 h-4 text-gray-700 dark:text-gray-400 bi bi-bag"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                            ></path>
                        </svg>
                        </span>
                        <h2 class="text-lg font-bold text-gray-700 dark:text-gray-400">
                        Pickup
                        </h2>
                    </div>
                    <div class="px-7">
                        <a
                        class="mb-2 text-sm text-blue-400 dark:text-blue-200"
                        href="#"
                        >Check availability</a
                        >
                    </div>
                    </div>
                    <div class="mt-6">
                    <button
                        class="w-full px-4 py-2 font-bold text-white bg-blue-400 lg:w-96 hover:bg-blue-500"
                    >
                        Continue
                    </button>
                    </div>
                    <div class="flex items-center mt-6">
                    <div>
                        <h2
                        class="mb-2 text-lg font-bold text-gray-700 dark:text-gray-400"
                        >
                        Still deciding?
                        </h2>
                        <p class="mb-2 text-sm dark:text-gray-400">
                        Add this item to a list and easily come back to it later
                        </p>
                    </div>
                    <span class="ml-6">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="w-6 h-6 text-blue-500 cursor-pointer hover:text-blue-600 dark:hover:text-blue-300 bi bi-bookmark dark:text-gray-400"
                        viewBox="0 0 16 16"
                        >
                        <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                        ></path></svg></span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>


</div>

{% endblock content %}
