<dialog id="my_modal_view_category" class="modal py-3 px-3 rounded-lg">

    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span>View Category</span>
        </div>
        <span>
            <form method="dialog" class="modal-backdrop">
                <button class="py-1 px-2 rounded-full bg-red-600 text-[14px] text-white font-semibold">X</button>
            </form>
        </span>
    </a>

    <div class="modal-box">
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">

            <div class="flex items-center justify-center">
                <h3 class="text-center text-gray-900 font-extrabold my-5 text-[24px]">Category Details</h3>
            </div>

            

            

            <div class="w-full max-w-sm p-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                
                <div class="flex flex-col items-center pb-10">
                    <div id="cat_img_info">
                        {% if category.cat_img %}
                            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{ category.cat_img }}" alt="{{ category.category_name }} Image"/>
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>
                    <h5 id="category_name_info" class="mb-1 text-xl font-medium text-gray-900"></h5>
                    <span id="desc" class="text-sm text-gray-500"></span>
                    <div id="subcategoriesList" class="flex flex-wrap mt-4 md:mt-6">
                        
                    </div>
                </div>
            </div>


           

            
        </div>

    </div>
    
</dialog>


