
{% extends 'base.html' %}


{% block content %}

    <style>
        .error-border {
        border: 1px solid red;
        }
    </style>
    <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
      href="#">
        <div class="flex items-center">
            <svg
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
            <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
            </svg>
            <span>Transfer from Outlet to Outlet</span>
        </div>
        <span>Home &RightArrow;</span>
    </a>

    <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">
        <form action="" method="post">{% csrf_token %}
            <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4 mt-5">
                <label class="block text-sm">
                    <span class="text-gray-700">
                        Select Outlet _From
                    </span>
                    <select class="commonClassT block w-full px-2 py-3 mt-1 text-sm border-2 rounded-md focus:border-slate-300 form-select focus:outline-none focus:shadow-outline-green text-slate-600" name="{{form.warehouse.name}}"id="from">
                        <option>_ _select outlet from_ _</option>

                        {%for shop in shop %}
                                <option >{{shop.outlet_name}}</option>
                            {% endfor %}
                    </select>
                </label>
                <label class="block text-sm">
                    <span class="text-gray-700">
                        Select outlet _To
                    </span>
                    <select class="commonClassT block w-full px-2 py-3 mt-1 text-sm border-2 rounded-md focus:border-slate-300 form-select focus:outline-none focus:shadow-outline-green text-slate-600" name="{{form.outlet.name}}" id="to">
                        <option>_ _select outlet to_ _</option>

                        {%for shop in shop %}
                                <option >{{shop.outlet_name}}</option>
                        {% endfor %}
                    </select>
                </label>

                

                <label class="block text-sm">
                    <span class="text-gray-700">Reference No</span>
                    <input 
                        type="text" 
                        name="{{form.ref_no.name}}"
                        class="block w-full px-2 py-3 mt-1 text-sm border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                        placeholder=""
                        value="{{ refno }}"
                    />
                </label>

            </div>
            <span class="text-red-600" id="err">
                
            </span>

            <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4 mt-5">

                <label class="block text-sm">
                    <span class="text-gray-600">Summary (Optional)</span>
                    <textarea
                        class="block w-full mt-1 px-2 text-sm form-textarea border-2 rounded-md focus:border-slate-300  focus:outline-none focus:shadow-outline-green text-slate-600"
                        rows="1"
                        name="{{form.description.name}}"
                        placeholder=""
                    ></textarea>
                    {{ form.token_id }}
                    {{ form.Userlogin }}
                    {{ form.supplier }}
                </label>

            </div>
           
            {% include 'table_for_transfer.html' with store="outlet" %}

        </form>
    </div>

    
    
{% endblock content %}