
{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <div class="w-full my-5 overflow-hidden rounded-lg shadow-xs">
        <a class="flex items-center justify-between bg-slate-200 py-1 px-2 text-sm font-semibold text-slate-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
        href="#">
            <div class="flex items-center">
                <svg
                    class="w-5 h-5 mr-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                ></path>
                </svg>
                <span>New Item Category</span>
            </div>
            <span>Home &RightArrow;</span>
        </a>
    
        <div class="px-4 py-3 my-5 bg-white rounded-lg shadow-md">
            <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %} 
                <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4 mt-5">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Enter Category</span>
                        <input 
                            type="text"
                            class="block w-full p-2 mt-1 text-sm border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                            name="{{form.category_name.name}}"
                            value="{{getcate.category_name}}"
                        />
                    </label>
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Enter Sub Category</span>
                        <input 
                            type="text"
                            class="block w-full p-2 mt-1 text-sm border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                            name="{{form.description.name}}"
                            value="{{getcate.description}}"
                        />
                    </label>

                    <label class="block text-sm">
                        <span class="text-gray-700">Item Image</span>
                        <input 
                            type="file"
                            name="{{form.cat_img.name}}"
                            class="block w-full p-2 mt-1 text-sm border-2 rounded-md focus:border-slate-300 focus:outline-none focus:shadow-outline-green text-slate-600 form-input"
                            placeholder=""
                        />
                    </label>
                    {% if getcate.cat_img %}
                    <label class="block text-sm">
                        <img src="{{getcate.cat_img.url}}" width="200px" height="150px" alt="">
                    </label>
                    {% endif %}
                    
                    <input type="hidden" name="{{form.Userlogin.name}}" value="{{request.user}}">
                    <input type="hidden" name="{{form.token_id.name}}" value="{{getcate.token_id}}">
                </div>

                <div class="grid grid-cols-3 gap-3"> 
                    <button  type='submit' class=" h-8  px-4  mt-5 text-sm font-medium leading-5 text-center text-gray-600 transition-colors duration-150 bg-slate-200 border border-transparent rounded-lg active:bg-slate-300 hover:bg-slate-300 focus:outline-none focus:shadow-outline-slate">
                        Update Category
                    </button>
                </div>
            
            </form>

        </div>
        
    </div>
    <script src ='{% static "basic_sales_app/JS_functions.js" %}'></script>
{% endblock %}
