{% extends 'base.html' %} 

{% load static %}


{% block content %}


    <div class="flex min-h-screen flex-col bg-gray-100 transition-colors duration-150">

        {% include "components/navbar/navbar.html" %}

        <!-- categories -->
        <div class="container w-10/12 py-5">
            <h2 class="text-2xl font-medium text-gray-800 uppercase mb-10"></h2>
            <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-3">
                <div class="relative rounded-sm overflow-hidden group">
                    <img src="{% static 'assets/images/category/category-1.jpg' %}" alt="category 1" class="w-full">
                    <a href="#"
                        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Bedroom</a>
                </div>
                <div class="relative rounded-sm overflow-hidden group">
                    <img src="{% static 'assets/images/category/category-2.jpg' %}" alt="category 1" class="w-full">
                    <a href="#"
                        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Mattrass</a>
                </div>
                <div class="relative rounded-sm overflow-hidden group">
                    <img src="{% static 'assets/images/category/category-3.jpg' %}" alt="category 1" class="w-full">
                    <a href="#"
                        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Outdoor
                    </a>
                </div>
                <div class="relative rounded-sm overflow-hidden group">
                    <img src="{% static 'assets/images/category/category-4.jpg' %}" alt="category 1" class="w-full">
                    <a href="#"
                        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Sofa</a>
                </div>
                <div class="relative rounded-sm overflow-hidden group">
                    <img src="{% static 'assets/images/category/category-5.jpg' %}" alt="category 1" class="w-full">
                    <a href="#"
                        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Living
                        Room</a>
                </div>
                <div class="relative rounded-sm overflow-hidden group">
                    <img src="{% static 'assets/images/category/category-6.jpg' %}" alt="category 1" class="w-full">
                    <a href="#"
                        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-roboto font-medium group-hover:bg-opacity-60 transition">Kitchen</a>
                </div>
            </div>
        </div>
        <!-- ./categories -->
        

        <div class="md:container lg:container min-h-screen w-full md:w-10/12 lg:w-10/12 xl:w-10/12">
        
            <div class="sticky bg-white top-[44px] mb-3 z-10 lg:hidden md:hidden sm:flex flex h-10 items-center justify-between border-t border-b border-border-200 bg-light py-6 px-2">

                <div class="w-full max-w-xl relative flex">
                    <span class="absolute left-4 top-3 text-lg text-gray-400">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" name="search" id="search"
                        class="w-full border border-primary h-8 border-r-0 pl-12 py-1 pr-3 rounded-l-md focus:outline-none "
                        placeholder="search">
                    <button class="items-center bg-primary border border-primary text-center text-white px-3 rounded-r-md hover:bg-transparent hover:text-primary transition">Search</button>
                </div>

            </div>


            <div class="flex border-t border-solid border-border-200 border-opacity-70">
        
                <div class="w-full pb-8 lg:p-8">

                    <div class="grid grid-cols-2 lg:grid-cols-[repeat(auto-fill,minmax(160px,1fr))] sm:grid-cols-3 gap-3">

                        <article  class="product-card cart-type-neon h-full transform overflow-hidden rounded border border-border-200 bg-light shadow-sm transition-all duration-200 hover:-translate-y-0.5 hover:shadow-lg">
                            <div class="relative flex h-32 w-auto cursor-pointer items-center justify-center sm:h-36">
                                <span class="sr-only">Product Image</span>
                                <img
                                    alt="product"
                                    class="product-image object-contain w-full"
                                    style="
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    color: transparent;
                                    "
                                    sizes="(max-width: 768px) 100vw"
                                    src="{% static 'img/product1.jpg' %}"
                                />
                                <div class="absolute top-3 rounded bg-accent px-1.5 text-xs font-semibold leading-6 text-light ltr:right-3 rtl:left-3 sm:px-2 md:top-4 md:px-2.5 ltr:md:right-4 rtl:md:left-4">
                                    20%
                                </div>
                            </div>
                            <header class="p-3 md:p-6">
                                <div class="mb-2 flex items-center">
                                    <span class="text-sm font-semibold text-heading md:text-base">
                                    $1.60
                                    </span>
                                    <del class="text-xs text-muted ltr:ml-2 rtl:mr-2 md:text-sm">
                                    $2.00
                                    </del>
                                </div>
                                <h3 class="mb-4 cursor-pointer truncate text-xs text-body md:text-sm">
                                    product name
                                </h3>
                            </header>
                            <button class="group flex h-7 w-full items-center justify-between rounded bg-blue-100 text-xs text-body-dark transition-colors hover:border-accent hover:bg-accent hover:text-light focus:border-accent focus:bg-accent focus:text-light focus:outline-0 md:h-9 md:text-sm">
                                <span class="flex-1">Add</span>
                                <span class="grid h-7 w-7 place-items-center bg-gray-200 transition-colors duration-200 group-hover:bg-accent-600 group-focus:bg-accent-600 ltr:rounded-tr ltr:rounded-br rtl:rounded-tl rtl:rounded-bl md:h-9 md:w-9">
                                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 stroke-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </span>
                            </button>
                        </article>

                        <article class="product-card cart-type-neon h-full transform overflow-hidden rounded border border-border-200 bg-light shadow-sm transition-all duration-200 hover:-translate-y-0.5 hover:shadow">
                            <div class="relative flex h-32 w-auto cursor-pointer items-center justify-center sm:h-36">
                                <span class="sr-only">Product Image</span>
                                <img
                                    alt="Baby Spinach"
                                    loading="lazy"
                                    decoding="async"
                                    data-nimg="fill"
                                    class="product-image object-contain w-full"
                                    style="
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    color: transparent;
                                    "
                                    sizes="(max-width: 768px) 100vw"
                                    src="{% static 'img/product2.jpg' %}"
                                />
                            </div>
                            <header class="p-3 md:p-6">
                                <div class="mb-2 flex items-center">
                                    <span class="text-sm font-semibold text-heading md:text-base">
                                    $0.60
                                    </span>
                                </div>
                                <h3
                                    class="mb-4 cursor-pointer truncate text-xs text-body md:text-sm"
                                >
                                    Product Name
                                </h3>
                            </header>
                            <button class="group flex h-7 w-full items-center justify-between rounded bg-blue-100 text-xs text-body-dark transition-colors hover:border-accent hover:bg-accent hover:text-light focus:border-accent focus:bg-accent focus:text-light focus:outline-0 md:h-9 md:text-sm">
                                <span class="flex-1">Add</span>
                                <span class="grid h-7 w-7 place-items-center bg-gray-200 transition-colors duration-200 group-hover:bg-accent-600 group-focus:bg-accent-600 ltr:rounded-tr ltr:rounded-br rtl:rounded-tl rtl:rounded-bl md:h-9 md:w-9">
                                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 stroke-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </span>
                            </button>
                        </article>

                        <article  class="product-card cart-type-neon h-full transform overflow-hidden rounded border border-border-200 bg-light shadow-sm transition-all duration-200 hover:-translate-y-0.5 hover:shadow-lg">
                            <div class="relative flex h-32 w-auto cursor-pointer items-center justify-center sm:h-36">
                                <span class="sr-only">Product Image</span>
                                <img
                                    alt="product"
                                    class="product-image object-contain w-full"
                                    style="
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    color: transparent;
                                    "
                                    sizes="(max-width: 768px) 100vw"
                                    src="{% static 'img/product3.jpg' %}"
                                />
                                <div class="absolute top-3 rounded bg-accent px-1.5 text-xs font-semibold leading-6 text-light ltr:right-3 rtl:left-3 sm:px-2 md:top-4 md:px-2.5 ltr:md:right-4 rtl:md:left-4">
                                    20%
                                </div>
                            </div>
                            <header class="p-3 md:p-6">
                                <div class="mb-2 flex items-center">
                                    <span class="text-sm font-semibold text-heading md:text-base">
                                    $1.60
                                    </span>
                                    <del class="text-xs text-muted ltr:ml-2 rtl:mr-2 md:text-sm">
                                    $2.00
                                    </del>
                                </div>
                                <h3 class="mb-4 cursor-pointer truncate text-xs text-body md:text-sm">
                                    product name
                                </h3>
                            </header>
                            <button class="group flex h-7 w-full items-center justify-between rounded bg-blue-100 text-xs text-body-dark transition-colors hover:border-accent hover:bg-accent hover:text-light focus:border-accent focus:bg-accent focus:text-light focus:outline-0 md:h-9 md:text-sm">
                                <span class="flex-1">Add</span>
                                <span class="grid h-7 w-7 place-items-center bg-gray-200 transition-colors duration-200 group-hover:bg-accent-600 group-focus:bg-accent-600 ltr:rounded-tr ltr:rounded-br rtl:rounded-tl rtl:rounded-bl md:h-9 md:w-9">
                                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 stroke-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </span>
                            </button>
                        </article>

                        <article class="product-card cart-type-neon h-full transform overflow-hidden rounded border border-border-200 bg-light shadow-sm transition-all duration-200 hover:-translate-y-0.5 hover:shadow">
                            <div class="relative flex h-32 w-auto cursor-pointer items-center justify-center sm:h-36">
                                <span class="sr-only">Product Image</span>
                                <img
                                    alt="Baby Spinach"
                                    loading="lazy"
                                    decoding="async"
                                    data-nimg="fill"
                                    class="product-image object-contain w-full"
                                    style="
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    color: transparent;
                                    "
                                    sizes="(max-width: 768px) 100vw"
                                    src="{% static 'img/product4.jpg' %}"
                                />
                            </div>
                            <header class="p-3 md:p-6">
                                <div class="mb-2 flex items-center">
                                    <span class="text-sm font-semibold text-heading md:text-base">
                                    $0.60
                                    </span>
                                </div>
                                <h3
                                    class="mb-4 cursor-pointer truncate text-xs text-body md:text-sm"
                                >
                                    Product Name
                                </h3>
                            </header>
                            <button class="group flex h-7 w-full items-center justify-between rounded bg-blue-100 text-xs text-body-dark transition-colors hover:border-accent hover:bg-accent hover:text-light focus:border-accent focus:bg-accent focus:text-light focus:outline-0 md:h-9 md:text-sm">
                                <span class="flex-1">Add</span>
                                <span class="grid h-7 w-7 place-items-center bg-gray-200 transition-colors duration-200 group-hover:bg-accent-600 group-focus:bg-accent-600 ltr:rounded-tr ltr:rounded-br rtl:rounded-tl rtl:rounded-bl md:h-9 md:w-9">
                                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 stroke-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </span>
                            </button>
                        </article>

                        <article  class="product-card cart-type-neon h-full transform overflow-hidden rounded border border-border-200 bg-light shadow-sm transition-all duration-200 hover:-translate-y-0.5 hover:shadow-lg">
                            <div class="relative flex h-32 w-auto cursor-pointer items-center justify-center sm:h-36">
                                <span class="sr-only">Product Image</span>
                                <img
                                    alt="product"
                                    class="product-image object-contain w-full"
                                    style="
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    color: transparent;
                                    "
                                    sizes="(max-width: 768px) 100vw"
                                    src="{% static 'img/product1.jpg' %}"
                                />
                                <div class="absolute top-3 rounded bg-accent px-1.5 text-xs font-semibold leading-6 text-light ltr:right-3 rtl:left-3 sm:px-2 md:top-4 md:px-2.5 ltr:md:right-4 rtl:md:left-4">
                                    20%
                                </div>
                            </div>
                            <header class="p-3 md:p-6">
                                <div class="mb-2 flex items-center">
                                    <span class="text-sm font-semibold text-heading md:text-base">
                                    $1.60
                                    </span>
                                    <del class="text-xs text-muted ltr:ml-2 rtl:mr-2 md:text-sm">
                                    $2.00
                                    </del>
                                </div>
                                <h3 class="mb-4 cursor-pointer truncate text-xs text-body md:text-sm">
                                    product name
                                </h3>
                            </header>
                            <button class="group flex h-7 w-full items-center justify-between rounded bg-blue-100 text-xs text-body-dark transition-colors hover:border-accent hover:bg-accent hover:text-light focus:border-accent focus:bg-accent focus:text-light focus:outline-0 md:h-9 md:text-sm">
                                <span class="flex-1">Add</span>
                                <span class="grid h-7 w-7 place-items-center bg-gray-200 transition-colors duration-200 group-hover:bg-accent-600 group-focus:bg-accent-600 ltr:rounded-tr ltr:rounded-br rtl:rounded-tl rtl:rounded-bl md:h-9 md:w-9">
                                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 stroke-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </span>
                            </button>
                        </article>

                        <article class="product-card cart-type-neon h-full transform overflow-hidden rounded border border-border-200 bg-light shadow-sm transition-all duration-200 hover:-translate-y-0.5 hover:shadow">
                            <div class="relative flex h-32 w-auto cursor-pointer items-center justify-center sm:h-36">
                                <span class="sr-only">Product Image</span>
                                <img
                                    alt="Baby Spinach"
                                    loading="lazy"
                                    decoding="async"
                                    data-nimg="fill"
                                    class="product-image object-contain w-full"
                                    style="
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    color: transparent;
                                    "
                                    sizes="(max-width: 768px) 100vw"
                                    src="{% static 'img/product2.jpg' %}"
                                />
                            </div>
                            <header class="p-3 md:p-6">
                                <div class="mb-2 flex items-center">
                                    <span class="text-sm font-semibold text-heading md:text-base">
                                    $0.60
                                    </span>
                                </div>
                                <h3
                                    class="mb-4 cursor-pointer truncate text-xs text-body md:text-sm"
                                >
                                    Product Name
                                </h3>
                            </header>
                            <button class="group flex h-7 w-full items-center justify-between rounded bg-blue-100 text-xs text-body-dark transition-colors hover:border-accent hover:bg-accent hover:text-light focus:border-accent focus:bg-accent focus:text-light focus:outline-0 md:h-9 md:text-sm">
                                <span class="flex-1">Add</span>
                                <span class="grid h-7 w-7 place-items-center bg-gray-200 transition-colors duration-200 group-hover:bg-accent-600 group-focus:bg-accent-600 ltr:rounded-tr ltr:rounded-br rtl:rounded-tl rtl:rounded-bl md:h-9 md:w-9">
                                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 stroke-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </span>
                            </button>
                        </article>
                    
                    </div>

                    <div class="flex justify-center mt-8 lg:mt-12">
                        <button
                            data-variant="normal"
                            class="inline-flex items-center justify-center shrink-0 font-semibold leading-none rounded outline-none transition duration-300 ease-in-out focus:outline-0 focus:shadow focus:ring-1 focus:ring-accent-700 bg-primary text-light border border-transparent hover:bg-accent-hover px-5 py-0 h-12 text-sm md:text-base"
                        >
                            Load More
                        </button>
                    </div>
                
                </div>
            </div>

            
        </div>



        {% include "components/footer/fixed-footer.html" %}

    </div>



{% endblock content %}