<section class="hidden">
    <p class="text-center hhh my-1 text-[#2F4F4F] text-2xl font-bold whitespace-nowrap">{{company.company_name| title}}</p>
    <address class="text-center  text-sm font-light whitespace-nowrap">{{company.address}}, {{company.city}}, {{company.state}}, {{company.country}}</address>

    <p class="text-center  text-sm font-light whitespace-nowrap">{{company.email}}, {{company.phone}}</p>
    <hr class="my-3">
    <div class="flex justify-between items-center shadow">
        <div class="flex-col space-y-2  mb-4">
        </div>
        <div class="flex-col space-y-1  mb-4">
            <p class="self-center  text-sm font-light whitespace-nowrap report_date">Date:</p>
            <p class="self-center  text-sm font-light whitespace-nowrap" id="receipt">Invoice No.:</p>
            <p class="self-center  text-sm font-light whitespace-nowrap" id="cus_name">Customer: {{request.user.email}}</p>
            <p class="self-center  text-sm font-light whitespace-nowrap" id="cus_no">Phone No.: {{request.user.email}}</p>
            <p class="self-center  text-sm font-light whitespace-nowrap" id="sales_p">Sales Person: {{request.user.username}}</p>
        </div>
    </div>
</section>


