

{% extends 'base.html' %}


{% block content %}



<div class="">
    {% for id, name in permissions %}
        {{ id }} - {{ email }} <br>
    {% endfor %}
</div>

<div class="container my-10">
    {% if messages %}
        {% include 'messages.html' %}
    {% endif %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post">
                <h4>Create User</h4>
                {% csrf_token %}
                {{ form }}
                <button class="mt-2 btn btn-primary" type="submit">Submit Now</button>
            </form>
        </div>
    </div>

</div>


{% endblock content %}