{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Afrikbook.">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
        
        <title>
            
            {% block title %}
                Afrikbook Login.
            {% endblock title %}
                
        </title>



        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{% static 'src/styles.css' %}">
 
        
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>

    
       
    </head>
    <style>
        .bg-neutral-700 {
            --tw-bg-opacity: 1; 
            background-color: #444E46;
        }
        .primary{
            background-color: #018786;
        }
    </style>

    <body class="body-wrapper">

        
        <div id="__next">
            <div dir="ltr">
                
                
                <div class="flex justify-center bg-neutral-700  items-center h-screen m-auto  transition-colors duration-150">
                    
                    <div class="w-[600px h-[500px] px-4 bg-neutral-700 text-white rounded-lg shadow-md">
                        {% if messages %}
             
                            <span class=" text-center text-red-500">{% include 'messages.html' %}</span>
                        {% endif %}
                        
                        <div class="mx-auto py-10 my-10 grid gap-4 md:grid-cols-2 w-full max-w-7xl px-5 xl:px-8 2xl:px-14">
                            <div class="order-2 w-full  shrink-0 bg-light p-6 md:order-1 md:w-72 lg:w-96">
                                <div class=" flex w-full items-center justify-center  overflow-hidden">
                                    <img
                                        alt="Contact"
                                        loading="lazy"
                                        decoding="async"
                                        data-nimg="1"
                                        class="h-[800px] w-[2px]"
                                        style="color: transparent"
                                        src="{% static 'logo/log.png' %}"
                                    />
                                </div>
                            </div>
                            <div class="order-1 mb-8 w-full  bg-light p-6 md:order-2 md:mb-0 md:p-8 ltr:md:ml-7 rtl:md:mr-7 ltr:lg:ml-9 rtl:lg:mr-9">
                                <h1 class="m font-sans text-xl font-bold text-heading md:text-2xl text-center">
                                    Login
                                </h1>
                                <form class="my-5" action="" method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <label
                                            for="email"
                                            class="mb-3 block text-sm font-semibold leading-none text-white">
                                            Email or Username
                                        </label>
                                        <input
                                            id="username"
                                            name="username"
                                            type="text"
                                            class="flex w-full appearance-none text-black items-center px-4 text-sm text-heading transition duration-300 ease-in-out focus:outline-0 focus:ring-0 border-b border-border-base rounded focus:border-slate h-8 bg-slate-300"
                                           
                                        />
                                        <p class="py-2 text-red-500 errors">{{form.username.errors}}</p>
                                    </div>

                                    <div class="my-6">
                                        <label
                                            for="subject"
                                            class="mb-3 block text-sm font-semibold leading-none text-white">
                                            Password
                                        </label>
                                        <input
                                            id="password"
                                            name="password"
                                            type="password"
                                            class="flex w-full appearance-none text-black items-center px-4 text-sm text-heading transition duration-300 ease-in-out focus:outline-0 focus:ring-0 border-b border-border-base rounded focus:border-slate h-8 bg-slate-300"
                                            autocomplete="off"
                                            autoCorrect="off"
                                            autocapitalize="off"
                                            spellcheck="false"
                                            aria-invalid="false"
                                            value=""
                                        />
                                        <p class="py-2 text-red-500 errors">{{form.username.errors}}</p>
                                    </div>
                                    <div class="flex justify-start w-full  text-black items-center  gap-2 mb-6">
                                        <label
                                            for="email"
                                            class="block text-sm font-semibold leading-none text-white">
                                            Show Password
                                        </label>
                                        <input
                                            onclick="showPass()"
                                            type="checkbox"
                                            class="transition duration-300 ease-in-out focus:outline-0 focus:ring-0 border-b border-border-base rounded focus:border-slate h-8 bg-slate-300"
                                           
                                        />
                                        
                                    </div>

                                    <button
                                        type="submit"
                                        class="w-full text-center inline-flex items-center justify-center shrink-0 font-semibold leading-none rounded outline-none transition duration-300 ease-in-out focus:outline-0 focus:shadow focus:ring-1 focus:ring-slate-500 primary  text-light border border-transparent hover:bg-blue-300-hover px-5 py-0 h-8">
                                        Login
                                    </button>

                                </form>
                                

                                <span class="">
                                    I don't have an account 
                                    {% comment %} <a href="{% url 'main:register' %}" class="underline text-[#2F4F4F] ">Register Now</span> {% endcomment %}
                                </span>
                                <span class="my-6">
                                     <br>
                                    <a href="{% url 'main:NewCompany' %}" target="_blank" class="underline text-blue-500 ">Register as a company</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(function() {
                var msg = $("#msg");
                setTimeout(function() {
                    msg.hide();
                }, 3000)
            })

            function showPass(){
                var pwd = document.getElementById('password')

                if(pwd.type == 'password'){
                    pwd.type = 'text'
                }
                else{
                    pwd.type = 'password'
                }
            }
        </script>
</body>
</html>